<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generator miniaturek</title>
    <link rel="stylesheet" href="/index.css" type="text/css" />
  </head>
  <script>
    // Skrypt użyty jedynie w celu pokazania czy zdjęcie zostało już załadowane
    window.onload = () => {
      const fileInput = document.querySelector(".image-input");
      const fileInputField = document.querySelector(".image-input__field");

      const injectFileName = () => {
        const files = fileInput.files;

        if (files && files[0]) {
          fileInputField.textContent = files[0].name;
        }
      };

      injectFileName();

      fileInput.addEventListener("change", injectFileName);
    };
  </script>
  <body>
    <header><h1>Generator miniaturek</h1></header>
    <main>
      <form method="post" enctype="multipart/form-data" action="/upload">
        <div class="image-input-container">
          <input
            class="image-input"
            type="file"
            name="image"
            id="image"
            required
          />
          <label for="image" class="image-input__field"
            >Upuść lub wybierz zdjęcie...</label
          >
        </div>
        <button class="submit-btn" type="submit">Generuj miniaturki</button>
      </form>
    </main>
    <footer>Zadanie wykonał Paweł Święcicki dla SEALCODE</footer>
  </body>
</html>
